body, div, h1, h2, li {
    margin: 0;
    padding: o;
    font-family: arial;
}
header {
    background-color: rgb(138, 150, 189);
    padding: 0.5%;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}
header h1 {
    color: #e25822;
    border: 8px solid #e25822;
    padding: 6px 12px;
    display: inline-block;
    border-radius: 10px;

}
.banner {
    position: relative;
}
.banner img {
    width: 100%;
}
.banner .welcome {
    color: #e25822;
    position: absolute;
    left: 800px;
    top: 40%;
}
.banner h2 {
    font-size: 32px;
}
.banner h2 span {
    font-size: 64px;
}
div ul{
    background-color: rgb(138, 150, 189);;
    padding: 40px;
    width: 100%;
    position: sticky;
    top: 140px;
    
}
div ul {
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
    
}
div li {
    width: 20%;
    display: inline-block;
    color: #e25822;
    font-size: 1.3em;    
}
main {
    background-color: black;
    padding: 60px 20px;
}
main article {
    color: #e25822;
    text-align: center;
    width: auto;
    margin: 8px auto;
}
.images {
    text-align: center;
    white-space: nowrap;
}
.images li {
    display: inline-block;
}
.images li img {
    max-width: 100%;
    width: max-content;
}
.join {
    background: #e25822;
    padding-bottom: 60px;
    text-align: center;
    color:#8a96bd
    
}
.join h2 {
    font-size: 36px;
}
form input {
    margin: 20px 0;
    padding: 10px 2;
    font-size: 24px;
    border-radius: 28px;
    border: 4px solid white;
}
footer {
    text-align: center;
    color: #e25822;
    background:  rgb(138, 150, 189);;
    padding: 60px 20px;
    font-size: 36px
}